* {
    box-sizing: border-box;
    }
    /*
.row {
  max-width:1000px;
  margin: auto;
}
*/

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.33%;
    padding: 9px;
}

div {
    display: block;
}

.content {
    background-color: #ff0505;
    padding: 20px;
    color: #ffffff;
    text-align: center;
  }

  .content a {
    color: #5225d8;
  }

/* Fixed Side navigation */

.fisidNav {
  height: 100%;
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(23, 100, 214);
  background-image: url("../images/sunrise-gradient-background.png");
  overflow-x: hidden;
  padding-top: 200px;
}

.fisidNav a {
  padding: 6px 1px 1px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #e74c31;
  display: block;
}

.fisidNav a:hover {
  color: #f1f1f1;
}

/* End of fixed side navigation */

/*Below is working code for nav sidebar */

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: rgb(248, 239, 239);
    opacity: 0.9;

}

/*

/*Above is working code for nav side bar*/


.lef {
    float: right;
}

.bacimg {
    background-image: url("");

}

/*body, html {
    height: 100%;
}

/*.parallax {
    /* The image used */
    /*background-image: url('https://cdn.tutsplus.com/webdesign/uploads/legacy/034_RockstarTips/advancement-of-technology.jpg');

    /* Full height */
    /*height: 100%;

    /* Create the parallax scrolling effect */
   /*background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    /*
}
*/
#container {
    background-color: rgb(226, 55, 203);
}
/*For extra Nav bar*/

/*
  }

/*For extra Nav Bar*/
.floatbox {
    display: inline-block;
}

/*Dropdown menu for Projects*/
/*
}


/*Dropdown menu for Projects*/

/*Footer*/
/*
footer {
	background-color: darkgray
}


/*Footer*/

/*Heading in 1st image*/

.jumbotron {
    padding: 225px;
    text-align: center;
    background-image: url("../images/media-and-techn.jpg");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    color: #ff0404;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0 0 20px #000000;
    margin-bottom: 0;
  }

  .jumbotron h1 {
    font-size: 60px;
    text-shadow: 0 0 20px #000000;
  }

  .jumbotron p1 {
    font-size: 40px;
  }
  

/*Heading in first image*/

.abut {
    padding: 10px;
    text-align: center;
    background-color: rgb(248, 239, 239);
    /*min-height: 150px;*/
    background-attachment: fixed;
    background-position: center;
   /* background-repeat: no-repeat; */
    background-size: cover;
    opacity: 0.85;
    color: #eb2a2a;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
.abot {
    color: #ff4d00;
    text-align: center;
    font-size: 30px;
}

.groop {
    padding: 240px;
    text-align: center;
    background-image: url("../images/group.jpg");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    color: #ff0404;
    font-family: 'Open Sans', sans-serif;
}

.medcol {
    padding: 1px;
    text-align: center;
    background-color: rgb(248, 239, 239);
    /*min-height: 150px;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    color: #fd0404;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.betw {
    padding: 125px;
    text-align: center;
    background-image: url("../images/handshaker.jpg");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.lastmin {
    padding: 1px;
    text-align: center;
    background-color: rgb(248, 239, 239);
    /*min-height: 250px;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    color: #ff0000;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
}


.tock {
    padding: 125px;
    text-align: center;
    background-image: url("../images/Tick-Tock.jpg");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}


/* Contact hire button*/

.contact {
    padding: 60px;
    text-align: center;
    background-image: url("../img/handshake.jpg");
    min-height: 60px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    font-weight: bold;
    color: #0106d1;
    font-size: 1.3em;
  }

  .hireButton{
    margin: 0px;
    padding: 10px 25px;
    background: black;
    color: #ff0123;
    border: 2px solid #7c7c7c;
    /*bottom: 50px;*/
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    position: relative;
    cursor: pointer;
  }

  .hireButton:hover {
    background-color: #ffffff;
  }


/* media queries*/

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

/* navigation links stack on top of each other
   when screen<400px wide*/
@media screen and (max-width: 400px) {
  nav a {
    float: none;
    width: 100%;
  }
}

/* content stacks when screen<700px */
@media screen and (max-width: 700px) {
    div {
        flex-direction: column;
    }
}
